{% extends "home/home.html" %}
{% block content %}
    {% load static %}
    <!DOCTYPE html>
    <html lang="en" >
    <head>
      <meta charset="UTF-8">
      <title>CodePen - Card Text #CodePenChallenge</title>
      <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="/ast/style.css" rel="stylesheet">
     <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet"> <link rel="stylesheet" href="./style.css">
    
    </head>
    <body>
        <div class="main container" style="padding-top:100px;">
            
            <ul class="cards">
        {% for video in videos %}
        
        <li class="cards_item" id="item_salad">
                <div class="card" style="max-width:350px">
                    <div class="card_price">&#9654;</div>
                    <div class="card_image"><img src="{{ video.thumbnail }}"></div>
                    <div class="card_content">
                        <a href="{{ video.get_video_url }}" style="text-decoration: none !important; border-bottom: none;">
                      <h2 class="card_title">{{ video.title }}</h2>
                    </a>
                    
                      <div class="card_text">
                        {% if video.category %}
                            <p class="animate slide-left pop delay-5" style="color: white;"><em>{{ video.category }}</em></p>
                            {% endif %}
                            {% if video.description %}
                            <p>{{ video.description|truncatechars:200 }}</p>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                </li>
            



        {% comment %} <div id="card" style="flex: 0 0 calc(50% - 1rem); min-height: 420px; text-align: right; margin-bottom: 2rem;">

                    <div class="text">
                        <p></p>
                    </div>
                </div>
        </div> {% endcomment %}
        
        {% endfor %}
    </ul>
</div>
    </div> 



    
    

    {% comment %} <div class="card container post video"  data-aos="fade-up"
     data-aos-duration="2000"
         style="padding: 25px;transition-duration:500ms;border-bottom-right-radius:90px;border-top-left-radius:90px; background-color: rgba(113, 6, 16, 0.97) ">
        <a href="{{ video.get_video_url }}" class="homeAnc">
            </a>
        <br>
    <a href="{{ video.get_video_url }}" style="text-decoration: none;align-self: center; color: gold"><h1>{{ video.title }}</h1></a>
    <br>
    <h4>
        {% for tag in video.tags.all %}
                   <button class="cat" style="border: #a18f34 1px solid;box-shadow: rgba(28,28,28,0.62) 5px 10px 10px; border-radius: 100px; position: relative; bottom: 9px ">{{ tag.name }}</button>
            {% endfor %}
    </h4>
    </div>
    </div> {% endcomment %}

<br>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    AOS.init();
</script>
</body>
</html>
{% endblock content %}