{% extends 'temp_home.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ audio.title }}</title>
</head>
<body>
<br>
<br>
<br>
    <div>
    <div>
        <audio controls>
          <source src="{{ audio.audio.url }}" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>
    </div>
    <h1>{{ audio.title }}</h1>
    <p>
        {% for tag in audio.tags.all %}
            {{ tag.name }},
        {% endfor %}
    </p>
    <h4>
        {{ audio.description }}الشرح:
    </h4>
    <p>
        {{ audio.created }}
    </p>
    </div>
</body>
</html>
{% endblock content %}