{% extends "home/home.html" %}
{% block content %} 
    {% load static %}
<!doctype html>
<html class="no-js" lang="ar">
    <head>
        <!-- وسوم الميتا -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="keywords" content="كلمات مفتاحية للموقع">
		<meta name="description" content="">
		<meta name='copyright' content=''>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		
		<!-- العنوان -->
        <title>صوفية القرآن - اتصل بنا</title>
    
    </head>
    <body>	
<br>
<br>
<br>
<br>
		<!-- مسار الصفحة -->
		<div class="breadcrumbs overlay">
			<div class="container">
				<div class="bread-inner">
					<div class="row">
						<div class="col-12">
							<h2>اتصل بنا</h2>
							<ul class="bread-list">
								<li><a href="index.html">الصفحة الرئيسية</a></li>
								<li><i class="icofont-simple-right"></i></li>
								<li class="active">اتصل بنا</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- نهاية مسار الصفحة -->
				
		<!-- بداية قسم اتصل بنا -->
		<section class="contact-us section">
			<div class="container">
				<div class="inner">
					<div class="row" style="background-color: white;"> 
						<div class="col-lg-6">
							<div class="contact-us-left">
								<!-- بداية خريطة جوجل -->
								<div id="myMap">
									<iframe id="gmap_canvas" src="https://maps.google.com/maps?q=جامع%20أبو%20النور%20دمشق&amp;t=&amp;z=15&amp;ie=UTF8&amp;iwloc=&amp;output=embed"></iframe>
								</div>
								<!-- نهاية خريطة جوجل -->
							</div>
						</div>
						<div class="col-lg-6">
							<div class="contact-us-form">
								<h2>تواصل معنا</h2>
								<p>إذا كان لديك أي استفسار، لا تتردد في التواصل معنا.</p>
								<!-- نموذج الاتصال -->
								<form class="form" method="post" action="mail/mail.php">
									<div class="row">
										<div class="col-lg-6">
											<div class="form-group">
												<input type="text" name="name" placeholder="الاسم" required="">
											</div>
										</div>
										<div class="col-lg-6">
											<div class="form-group">
												<input type="email" name="email" placeholder="البريد الإلكتروني" required="">
											</div>
										</div>
										<div class="col-lg-6">
											<div class="form-group">
												<input type="text" name="phone" placeholder="رقم الهاتف" required="">
											</div>
										</div>
										<div class="col-lg-6">
											<div class="form-group">
												<input type="text" name="subject" placeholder="الموضوع" required="">
											</div>
										</div>
										<div class="col-lg-12">
											<div class="form-group">
												<textarea name="message" placeholder="رسالتك" required=""></textarea>
											</div>
										</div>
										<div class="col-12">
											<div class="form-group login-btn">
												<button class="btn" type="submit">إرسال</button>
											</div>
											<div class="checkbox">
												<label class="checkbox-inline" for="2"><input name="news" id="2" type="checkbox">هل ترغب في الاشتراك في نشرتنا الإخبارية؟</label>
											</div>
										</div>
									</div>
								</form>
								<!-- نهاية نموذج الاتصال -->
							</div>
						</div>
					</div>
				</div>
				<div class="contact-info">
					<div class="row">
						<!-- معلومات الاتصال -->
						<div class="col-lg-4 col-12 ">
							<div class="single-info" style="padding-top: 55px;">
								<i class="icofont icofont-ui-call"></i>
								<div class="content">
									<h3>+(000) 1234 56789</h3>
									<p>info@company.com</p>
								</div>
							</div>
						</div>
						<!-- نهاية معلومات الاتصال -->
						<!-- عنوان المكتب -->
						<div class="col-lg-4 col-12 ">
							<div class="single-info" style="padding-top: 55px;">
								<i class="icofont-google-map"></i>
								<div class="content">
									<h3>شارع 2، المنطقة المركزية</h3>
									<p>دمشق، سوريا</p>
								</div>
							</div>
						</div>
						<!-- نهاية عنوان المكتب -->
						<!-- ساعات العمل -->
						<div class="col-lg-4 col-12 ">
							<div class="single-info" style="padding-top: 55px;">
								<i class="icofont icofont-wall-clock"></i>
								<div class="content">
									<h3>السبت - الخميس: 8 صباحاً - 5 مساءً</h3>
									<p>الجمعة مغلق</p>
								</div>
							</div>
						</div>
						<!-- نهاية ساعات العمل -->
					</div>
				</div>
			</div>
		</section>
		<!-- نهاية قسم اتصل بنا -->
		
	
    </body>
</html>
{% endblock content %}
